.FooterContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem; /* Add some gap between the rows */
}

.FooterLinks,
.FooterSocial {
  display: flex;
  gap: 1rem;
}

.FooterCopy {
  text-align: center;
}
